#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1, h2 {
    font-family: "Amatic SC";
}
h2{
    color: rgb(0, 187, 255);
    font-size: 2em;
}
h1{
    font-size: 5em;
}
header img{
    height: 100px;
    width: 100px;
}
#searchBar {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.search-bar {
    display: flex;
}
.search-bar input {
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.search-bar button {
    padding: 10px;
    border: 1px solid black;
    border-left: 1px solid #ccc;
    background: white;
    cursor: pointer ;
    border-radius: 0 5px 5px 0 ;
}
.search-bar img {
    width: 20px;
    height: 20px;
}
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1, h2 {
    font-family: "Amatic SC";
}
h2{
    color: rgb(0, 187, 255);
    font-size: 2em;
}
h1{
    font-size: 5em;
}
header img{
    height: 100px;
    width: 100px;
}
#searchBar {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.search-bar {
    display: flex;
}
.search-bar input {
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.search-bar button {
    padding: 10px;
    border: 1px solid black;
    border-left: 1px solid #ccc;
    background: white;
    cursor: pointer ;
    border-radius: 0 5px 5px 0 ;
}
.search-bar img {
    width: 20px;
    height: 20px;
}
.recipeCard {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
    width: 410px;
    margin: auto;
    
    
}
.recipeCard img{
    align-self: center;
    width: 100%;

}
.recipeCard button {
    align-self: flex-start;
    color: black;
    
}
.social{
    display: flex;
    padding: 20px;
    justify-content: center;
}
.social img{
    height: 20px;
    width: 20px;
}
footer a {
    display: flex;
    justify-content: center;
}

.description {
    display: none;
}

@media screen and (min-width: 600px) {

    .search-bar input {
        padding: 10px;
        width: 690px;
        border: 1px solid black;
        border-right: none;
        border-radius: 5px 0 0 5px;
    }

    .recipeCard {
        display: flex;             
        flex-direction: row;       
        width: 700px;
        gap: 20px;                
        padding: 25px;
        border: 1px solid black;
        border-radius: 5px;
        margin: auto;
    }

    .recipeCard img {
        width: 400px;         
        height: auto; 
        
    }
   
    .description {
       display: contents;      
    }

    .content {
        display: flex;
        flex-direction: column;    
        gap: 10px;                
        align-items: flex-start;   
    }

    .content h2,
    .content button {
        align-self: flex-start;    
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: aqua;
        padding-left: 25px;
        padding-right: 25px;

        
    }
    .social{
        margin-left: auto;
    }
    
}