h1{
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
    
}
.small-print{
    font-size: .75em;
    color: rgb(49, 150, 227);
    text-align: center;
    letter-spacing: 3px;
}
hr{
    margin-top: -7px;
    height: 1px;
    background-color: lightgray;
    margin-left: 25%;
    margin-right: 25%;

}
.heading{
    padding-top: 20px;
}
.slanted{
    font-style: italic;
    margin-top: 10px;
}
#page{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    
}

ol, li {
    padding: 15px;
}
ol{
    list-style-position: inside;
    margin-top: -15px;
}
#image{
    text-align: center;
}
img{
    width: 200px;
    height: 100px;
}

.dark{
    background-color: #333;
    color: white;

}
